<% layout("/layouts/boilerplates.ejs") %>
<style>
    section {




        display: flex;
        justify-content: center;
        position: relative;
        height: fit-content;
        padding: 0px;
        margin: 0px;
        width: 100vw;
        height: 85vh;
        overflow: hidden;
        background-image: linear-gradient(100deg, var(--e-global-color-btn-red) -80%, var(--e-global-color-dark-icons-background) 38%);



    }

    .tintt {

        width: 100%;
        height: 100%;
        padding: 20px;
        position: absolute;
        background-image: url("/images/footer-right.png");
        background-repeat: no-repeat;
        text-align: left;
        background-position-x: right;




        /* background-color:#2e1c1c ; */


    }



    input:-webkit-autofill {
        background-color: #000 !important;
        /* Set background to match your design */
        color: #fff !important;
        /* Text color to ensure readability */
        -webkit-text-fill-color: #fff !important;
        /* Text color for autofilled content */
        transition: background-color 5000s ease-in-out 0s;
        /* Prevent flash */
    }


    input:-webkit-autofill {
        background-color: #000 !important;
        /* Match your theme */
        color: #fff !important;
        /* Ensure readability */
        -webkit-text-fill-color: #fff !important;
        /* Autofill text color */
        border: 1px solid #444;
        /* Optional: border styling for autofilled fields */
        transition: background-color 5000s ease-in-out 0s;
        /* Prevent flashing */
    }


    .form_all {

        width: 65%;
        height: auto;
        display: flex;
        margin: auto;
        transform: translate(-1%, 15%);

    }




    .form_all .form_right {

        width: 40%;
        border-radius: 50px 5px 50px 5px;
        background: transparent;
        background: rgba(0, 0, 0, 0.452);
        padding: 10px;


    }

    .form_all .form_right form {

        text-align: center;
    }



    .form_all .form_right h3 {

        font-size: 2.1rem;
        color: white;
        font-weight: 100;
        font-family: sans-serif;
        margin-top: 10px;

    }


    .form_all .form_right .input {}

    .form_all .form_right .input input {

        width: 80%;
        height: 45px;
        background: transparent;
        outline: none;
        border: none;
        border-bottom: 2px solid white;
        font-size: 1.1rem;
        color: white;
        margin-bottom: 15px;


    }

    .form_all .form_right button {

        width: 80%;
        height: 40px;
        background: #f43334;
        font-size: 1rem;
        font-weight: 600;
        color: white;
        border: none;
        margin-top: 30px;


    }


    .form_all .form_right button:hover {

        background: white;
        color: #f43334;
        border: transparent;
    }

    .form_all .form_right .ancr {

        color: white;
        margin-top: -50px;
        padding: 20px;


    }

    .form_all .form_right a {

        color: white;
    }


    /*  */
    .form_all .form_left {

        /*	border: 2px solid white;*/
        width: 60%;
        color: white;
        padding: 10px;
        text-align: right;
    }



    .form_all .form_left h1 {

        font-size: 4.5rem;
        font-family: sans-serif;
        font-weight: 100;
        color: white;
        margin-top: 50px;
    }

    .form_all .form_left p {

        font-size: 1.1rem;
    }

    .form_all .form_left .btn {

        /* background-color: black; */
        width: 100%;
        display: flex;
        justify-content: right;

    }

    .form_all .form_left button {

        width: 170px;
        height: 40px;
        background: #f43334;
        font-size: 1rem;
        font-weight: 600;
        color: white;
        border: none;

    }
</style>
<!-- HEADER-SECTION -->
<div class="home-header-section">
    <header class="header home-header-section">
        <div class="main-header">
            <div class="container">
                <nav class="navbar navbar-expand-lg navbar-light p-0">
                    <a class="navbar-brand pt-0" href="/listings"><img src="/images/redlight-logo.png" alt=""
                            class="logo" /></a>
                    <button class="navbar-toggler collapsed" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                        <span class="navbar-toggler-icon"></span>
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav">
                            <li class="nav-item ">
                                <a class="nav-link text-decoration-none navbar-text-color home-margin-top"
                                    href="/listings">Home</a>
                            </li>
                            <!-- <span class="sr-only">(current)</span> -->
                            <li class="nav-item">
                                <a class="nav-link text-decoration-none navbar-text-color" href="/und">About</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-decoration-none navbar-text-color" href="/und">Services</a>
                            </li>

                            <li class="nav-item dropdown redlight-dropdown ">
                                <a class="nav-link dropdown-toggle " href="/und" id="navbarDropdown2" role="button"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Blogs</a>
                                <div class="dropdown-menu dropdown-content-redlight blogs-section-drop-down">
                                    <ul class="list-unstyled">
                                        <li class="nav-item"> <a class="dropdown-item fierce-menu nav-link"
                                                href="/und">Events</a></li>
                                        <li class="nav-item"> <a class="dropdown-item fierce-menu nav-link"
                                                href="/und">Up
                                                coming Events</a></li>
                                        <li class="nav-item"> <a class="dropdown-item fierce-menu nav-link"
                                                href="/und">Blogs</a></li>
                                        <li class="nav-item"> <a class="dropdown-item fierce-menu nav-link"
                                                href="/und">Projects</a></li>
                                        <li class="nav-item"> <a class="dropdown-item fierce-menu nav-link"
                                                href="/und">Notice</a></li>

                                    </ul>
                                </div>
                            </li>
                            <li class="nav-item navbar-text-color "><a
                                    class="nav-link text-decoration-none contact-us-margin navbar-text-color"
                                    href="/und">Courses</a></li>
                            <li class="nav-item navbar-text-color "><a
                                    class="nav-link text-decoration-none contact-us-margin navbar-text-color"
                                    href="/und">Meetings</a></li>
                        </ul>
                        <hr>

                        <ul class="navbar-nav ">
                            <li class="nav-item dropdown redlight-dropdown">
                                <a class="nav-link dropdown-toggle " href="/profile" id="navbarDropdown" role="button"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Profile</a>

                                <div class="dropdown-menu dropdown-content-redlight">
                                    <ul class="list-unstyled">
                                        <% if(!curUser){%>
                                            <li class="nav-item"> <a class="dropdown-item nav-link"
                                                    href="/login">Login</a>
                                            </li>
                                            <li class="nav-item"> <a class="dropdown-item nav-link" href="/signup">Sing
                                                    Up</a></li>
                                            <% } if(curUser){%>
                                                <li class="nav-item"> <a class="dropdown-item nav-link"
                                                        href="/profile">Profile</a></li>
                                                <li class="nav-item"> <a class="dropdown-item nav-link"
                                                        href="/logout">Log
                                                        out</a></li>
                                                <% }%>

                                    </ul>
                                </div>
                            </li>
                        </ul>

                    </div>
                </nav>
            </div>
        </div>
    </header>

</div>
<section class="tint">

    <div class="tintt">

        <div class="form_all">


            <div class="form_right">
                <form action="/signup" method="post">
                    <h3>Sign In</h3>

                    <div class="input">
                        <!-- Name -->
                        <input type="text" required name="name" class="frm-control" id="inputName"
                            placeholder="Enter your name" ame="user[name]" autocomplete="name" />

                        <!-- Email -->
                        <input type="email" required name="username" class="frm-control" id="inputEmail"
                            placeholder="Enter your email" name="user[username]" autocomplete="username" />

                        <!-- Password -->
                        <input type="password" required name="password" class="frm-control" id="inputPassword"
                            placeholder="Enter your password" name="user[password]" autocomplete="current-password" />

                        <!-- Confirm Password -->
                        <input type="password" required name="confirm_password" class="frm-control" id="inputConfirmPassword"
                            placeholder="Confirm your password" name="user[c_password]" autocomplete="new-password" />
                    </div>
<button type="submit" class="btn btn-success mb-5">SIGN IN</button>

<div class="ancr">
    <a href="">Forget password</a>
</div>
</form>

</div>
<div class="form_left">

    <h1>Welcome Home</h1>

    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
        industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type
        and scrambled it to make a type specimen book.</p>

    <div class="btn">

        <a href="/login"> <button>SIGN UP</button> </a>


    </div>
</div>
</div>

    </div>

<script>
                        const form = document.querySelector('form');

                        form.addEventListener('submit', function (event) {
                    event.preventDefault();
                    event.stopPropagation();

                        let status = true;

                            // Get input values
                            const passwordField = document.querySelector('input[name="password"]');
                            const confirmPasswordField = document.querySelector('input[name="confirm_password"]');

                            // Ensure elements exist
                            if (!passwordField || !confirmPasswordField) {

                                errbox.style.display = "block"
                                errmsg.innerText = "Password or confirm password fields are missing."
                                return;
                            }

                            const password = passwordField.value;
                            const confirmPassword = confirmPasswordField.value;

                            // Validate password length
                            if (password.length < 8) {
                                status = false;

                                errbox.style.display = "block"
                                errmsg.innerText = "Password is too short < 8"
                            }

                            // Validate password match
                            if (password !== confirmPassword) {
                            status = false;

                                errbox.style.display = "block"
                                errmsg.innerText = "Passwords do not match"
                }

                        // Check form validity
                if (!form.checkValidity()) {
                    status = false;
                }

                            // Submit form if validation passed
                            if (status) {
                        form.submit();
                            }
        });

</script>
<script>

    const currentPath = window.location.pathname;

    const pathname = {
        '/profile/edit': 'editprofile',
        '/listings': 'Home',
        '/login': 'Login',
        '/profile': 'Profile',
        '/signup': 'Signup',
        '/account': 'Account',
        '/signup': 'Signup',
        '/signup': 'Signup',

    };



    if (pathname[currentPath]) {
        document.querySelector('.title').innerText = pathname[currentPath];

    }
    let navItem
    if (currentPath == "/listings" || currentPath == "/account/promotion" || currentPath == "/account" || currentPath == "/profile") {
        navItem = document.querySelector(`.nav-item a[href="${currentPath}"]`).parentElement
    } else {
        navItem = document.querySelector(`.nav-item a[href="${currentPath}"]`).parentElement.parentElement.parentElement.parentElement
    }

    if (navItem) {
        navItem.classList.add('active');
    }
</script>
